*{
    box-sizing: border-box;
    /* border: 1px solid red; */
}

body {
    padding: 0;
    margin: 0;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p {
    font-family: Helvetica, Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #f1f1f1;
    margin: 0;
    padding: 5px 2.5%;
}

.nav-right {
    list-style: none;
    display: flex;
}

nav a {
    padding: 15px;
    color: black;
    text-decoration: none;   
    font-family: Helvetica, Arial, sans-serif;
}

nav a:hover{
    color: maroon;
}

main {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 90%;
    max-width: 1200px;

}

footer p {
    background-color: rgb(235, 235, 235);
    text-align: center;
    margin: 0;
    padding: 10px;
}

.logo {
    width: 48px;
    height: 48px;
    padding: 0;
    margin: 0;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    width: 48%;
}

.card img {
    width: 100%;
    height: auto;
}

.form-container {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: auto;
}

@media screen and (max-width: 480px) {

    .card {
        width: 100%;
    }
  }