*{
    box-sizing: border-box;
    /* border: 1px solid red; */
}

body {
    padding: 0;
    margin: 0;
}

nav {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 20px 10px;
}

nav a{
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
}

.nav-right {
    float: right;
    list-style: none;
}

header {
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-direction: column;
    padding-left: 3%;
}

footer p {
    background-color: rgb(235, 235, 235);
    text-align: center;
    margin: 0;
    padding: 10px;
}

.logo {
    width: 48px;
    height: 48px;
    padding: 0;
    margin: 0;
}

.cards {
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: 50%;
    padding-right: 2.5%;
}

.card img {
    width: 100%;
    height: auto;
}

.form-container {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: auto;
}